[build-system]
requires = [
    "setuptools>=67",
    "scikit-build-core",
    "pybind11>=2.11",
    "packaging"
]
build-backend = "scikit_build_core.build"

[project]
name = "chalc"
version = "0.7.1"
authors = [
    {name = "Abhinav Natarajan", email = "natarajan@maths.ox.ac.uk"},
]
description = "Persistent homology of chromatic alpha complexes"
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.8"
license = {file = "COPYING"}
keywords = [
    "topological data analysis",
    "TDA",
    "chromatic alpha complex",
    "persistent homology"
]
dependencies = [
    "numpy",
    "scipy",
    "phimaker >= 0.1.2",
    "pandas",
    "matplotlib",
    "seaborn",
    "h5py",
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Mathematics",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Programming Language :: C++",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy"
]

[project.urls]
Homepage = "https://abhinavnatarajan.github.io/Chalc"
Documentation = "https://abhinavnatarajan.github.io/Chalc"
Repository = "https://github.com/abhinavnatarajan/Chalc.git"

[tool.scikit-build]
cmake.verbose = true
logging.level = "DEBUG"
cmake.build-type = "Release"
cmake.minimum-version = "3.23"
sdist.exclude = ["docs/", "build_docs.bat", "build_docs.sh", ".github/"]
build-dir = "build/{wheel_tag}"
wheel.packages = ["src/chalc"]
wheel.install-dir = "chalc"
experimental = true

[[tool.scikit-build.generate]]
path = "_version.py"
template = '''
__version__ = "${version}"
'''

[tool.cibuildwheel]
archs = ["auto64"]

[tool.cibuildwheel.linux]
environment-pass = ["CI"]
skip = "*-musllinux_*"
