# Dependencies for the documentation build
pybind11-stubgen ~= 2.5.1 # generate stubs from binary modules
sphinx ~= 8.0.0 # documentation generator
sphinx-autoapi ~= 3.3.1 # automatically generate the API documentation
furo ~= 2024.8.6 # sphinx theme
nbsphinx ~= 0.9.3 # support for jupyter notebooks
sphinx_design ~= 0.6.0 # for the grid layout in the installation page
sphinx_toolbox ~= 3.5.0 # sidebar and github links

# Dependencies to run the example notebook
numpy ~= 2.0.0
matplotlib ~= 3.8.4
IPython ~= 8.15.0
ipykernel ~= 6.25.2
ipympl ~= 0.9.3
