name: Build and deploy docs
on:
  workflow_dispatch:
  push:
    tags: ["**"]
    # run on all tags

jobs:
  docs:
    name: Build and deploy docs
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Install pandoc
        uses: pandoc/actions/setup@v1

      - name: Setup uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: ""

      - name: Setup mono for nuget
        if: ${{ runner.os == 'linux' }}
        run: |
          sudo apt-get install mono-complete -y

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg
          ./vcpkg/bootstrap-vcpkg.sh -disableMetrics

      - name: Setup vcpkg binary cache
        env:
          NUGET: "`./vcpkg/vcpkg fetch nuget | tail -n 1`"
          NUGET_FEED_URL: https://nuget.pkg.github.com/abhinavnatarajan/index.json
        run: >
          mono ${{ env.NUGET }}
          sources add
          -Name GithubPackages
          -Source "${{ env.NUGET_FEED_URL }}"
          -UserName "${{ github.repository_owner }}"
          -Password "${{ secrets.GH_PACKAGES_TOKEN }}"
          -StorePasswordInClearText

          mono ${{ env.NUGET }}
          setapikey "${{ secrets.GH_PACKAGES_TOKEN }}"
          -Source "${{ env.NUGET_FEED_URL }}"

          echo "VCPKG_BINARY_SOURCES=clear;nuget,GithubPackages,readwrite" >> "$GITHUB_ENV"

      - name: Build package
        run: uv sync --exact --verbose --no-progress

      - name: Install GraphViz
        run: sudo apt-get install graphviz -y

      - name: Build docs
        run : source .venv/bin/activate && make all

      - name: Deploy to GH pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./docs/build/html
          branch: gh-pages
